@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

/* 
font-family: 'Lobster', cursive;

font-family: 'Roboto', sans-serif; */
h1 {
    font-family: 'Lobster', cursive;
    text-align: center; 
    font-size: 4em;
    color: rgb(143, 113, 85);
}

image {
    margin: 0 auto;
}

header {
    background-color: tan;
}

ul, li {
    width: 50vh;
    margin: 0 auto;
}

input {
    margin: 3em;
}

#navbar, ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

li {
    margin: 0 4em;
}

.zero {
    border: 0;
}

#ArtistId {
    position: relative;
    top: 60px;
}

button {
    background-color:  green;
    color: white;
    border: none;
    border-radius: 10px;
    padding: .5em;
    margin: 1em;
}

button:hover {
    background-color: rgb(102, 218, 218);
}


h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: azure;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    list-style: none;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    margin: 0 2em;
    padding: 2em;
    text-align: center;
}

img {
    margin: 2em;
}